.monnav
{
    gap: 1px;
}

.hoverviolet a:hover
{
    background-color: rgb(146, 101, 189);
    padding: 10px;
}

.grostitreviolet
{
    color: rgb(146, 101, 189);
    text-align: center;
    text-transform: uppercase;
    font-size: 3rem;
    
}

.taille250 img

{
    width: 175px;
    border-top: 4px solid lightgray;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-bottom: 1px solid grey;
}
.taille250
{
    
}